
.filme{
    border-top: 1px solid #c3c3c3;
    padding-top: 25px;
    display: table;
    margin: 25px 0;
}
.filme  .imagem{
    background-color: #e2e2e2;
    display: table-cell;
    height: 189px;
    width: 135px;
}
.filme  .imagem img{
    width: 100%;
}
.filme .info{    
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
}
.filme p{
    font-size: 16px;
}
.filme .valor-filme{
    color: #0160d6;
    margin-top: 5px;
}
.btn-reservar{
    background-color: #0160d6;
    border: 1px solid #0160d6;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 16px;
    -webkit-transition: background 2s; /* Safari prior 6.1 */
    transition: background 2s;
    float: right;
}
.btn-reservar:hover{
    background-color: #01469c;
    border-color: #01469c;
    -webkit-transition: background 2s; /* Safari prior 6.1 */
    transition: background 2s;
}