<h4>FILMES LANÇAMENTO</h4>
<div class="filme" *ngFor="let filmeList of filmes">
    <div class="imagem">
        <img src="{{filmeList.poster}}" alt="{{filmeList.titulo | json}}" >
    </div>
    <div class="info">
        <p>Ingresso</p>
         <p>FILME: 
            <span>{{filmeList.titulo}}</span>
        <p>
        <p>SINOPSE: {{filmeList.sinopse}}</p>
        <p class="valor-filme">
            <strong>{{filmeList.valor | currency:'BRL':'symbol':'2.2-2'}}</strong> 
            <button class="btn-reservar" (click)="reservar(filmeList)">Reservar</button>
        </p>
    </div>
</div>