<div class="row">
    <div class="col-md-12">
        <h2>FORMULÁRIO</h2>
    </div>
    <div class="col-md-7 box-form">
        <div>
            <h4>DADOS PESSOAIS</h4>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="primeiroNome" (input)="changeInput($event)" value="{{this.primeiroNome}}" placeholder="Primeiro nome" required />
            </div>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="segundoNome" (input)="changeInput($event)" value="{{this.segundoNome}}" placeholder="Segundo nome" required />
            </div>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="cpf" data-mask="cpf" maxlength="14" (input)="changeInput($event)" value="{{this.cpf}}" placeholder="CPF" required />
            </div>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="dataNascimento" data-mask="data" maxlength="10" (input)="changeInput($event)" value="{{this.dataNascimento}}"  placeholder="Data de nascimento" required />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" (input)="changeInput($event)" value="{{this.email}}"  placeholder="Email" required />
            </div>
            <div class="checkbox">
                  <label>
                      <input type="checkbox" (input)="acompanhante = $event.target.checked"> Adicionar acompanhante
                  </label>
              </div>
        </div>
        <div *ngIf="acompanhante">
            <h4>ACOMPANHANTE</h4>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="prineiroNomeAcompanhante" (input)="changeInput($event)" value="{{this.prineiroNomeAcompanhante}}"  placeholder="Primeiro nome" required />
            </div>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="segundoNomeAcompanhante" (input)="changeInput($event)" value="{{this.segundoNomeAcompanhante}}"  placeholder="Segundo nome" required />
            </div>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="cpfAcompanhante" data-mask="cpf" maxlength="14" (input)="changeInput($event)" value="{{this.cpfAcompanhante}}"  placeholder="CPF" required />
            </div>
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="dataNascimentoAcompanhante" data-mask="data" maxlength="10" (input)="changeInput($event)" value="{{this.datNascimentoAcompanhante}}" placeholder="Data de nascimento" required />
            </div>
                <div class="form-group">
                <input type="email" class="form-control" id="emailAcompanhante" (input)="changeInput($event)" value="{{this.emailAcompanhante}}"  placeholder="Email" required>
            </div>
            
        </div>
        <div>
            <h4>DADOS DA ENTREGA</h4>
            <div class="form-group">
                <input type="text" class="form-control" id="cep" data-mask="cep" maxlength="9" (input)="changeInput($event)" value="{{this.cep}}" placeholder="CEP" required />
            </div>
            <div class="form-group cal-50">
                <select id="pais" class="form-control" (input)="changeInput($event)" value="{{this.pais}}" required >
                    <option value="">País</option>
                    <option value="Brasil">Brasil</option>
                </select>
            </div>            
            <div class="form-group cal-50">
                <input type="text" class="form-control" id="estado"  (input)="changeInput($event)" value="{{this.estado}}" placeholder="Estado" required />
            </div>
            <div class="form-group cal-60">
                <input type="text" class="form-control" id="endereco" (input)="changeInput($event)" value="{{this.endereco}}" placeholder="Endereço" required />
            </div>
            <div class="form-group cal-40">
                <input type="text" class="form-control" id="complemento" (input)="changeInput($event)" value="{{this.complemento}}" placeholder="complemento" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="cidade" (input)="changeInput($event)" value="{{this.cidade}}" placeholder="Cidade" required />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="telefone" data-mask="telefone" maxlength="14" (input)="changeInput($event)" value="{{this.telefone}}" placeholder="Telefone" required />
            </div>
        </div>
              
    </div>
    <div class="col-md-5">
        <h4>SEU INGRESSO</h4>
        <div class="filme">
            <div class="imagem">
                <img *ngIf="this.filme" src="{{this.filme.poster}}" alt="{{this.filme.titulo}}" >
            </div>
            <div class="info">
                <p>Ingresso</p>
                <p>FILME: 
                    <select id="filme" class="form-control" (change)="ChangeFilme( $event.target.value )" >
                        <option *ngFor="let filmeSelect of filmes" value="{{filmeSelect | json}}">{{filmeSelect.titulo}}</option>
                    </select>
                <p>
                <p *ngIf="this.filme" class="valor-filme"><strong>{{this.filme.valor | currency:'BRL':'symbol':'2.2-2'}}</strong></p>
            </div>
        </div>
        <div class="valor-total">
            <h5>Sub total 
                <span *ngIf="this.filme" >{{(this.acompanhante?2*this.filme.valor:1*this.filme.valor) | currency:'BRL':'symbol':'2.2-2'}}</span>
            </h5>
            <h5>Frete <span>{{this.frete | currency:'BRL':'symbol':'2.2-2'}}</span></h5>
            <h4>TOTAL 
                <span *ngIf="this.filme" >{{((this.acompanhante?2*this.filme.valor:1*this.filme.valor) + this.frete) | currency:'BRL':'symbol':'2.2-2'}}</span>
            </h4>
        </div>
        <div class="box-enviar">
            <button class="btn-enviar" (click)="enviarFormulario()">ENVIAR</button>
        </div>
        <div class="alert alert-danger" *ngIf="this.alertMensage">
            Preencha todos os Campos.
        </div>
    </div>
</div>