h2{
    margin-bottom: 40px;
}
h4{
    margin-bottom: 30px;
}
.form-group{    
    padding-right: 10px;
}
.form-group[class*="cal-"]{    
    display: inline-block;
}
@media (min-width: 992px){
    .box-form>div{
        border-right: 1px solid #c3c3c3;
        margin-right: 20px;
        padding-right: 20px;
    }
}
    
.form-control{
    border-color: #c3c3c3;
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    height: 50px;
}
.form-control.has-error{
    border-color: #e78181;
}
.radio label,
.checkbox label {
    font-size: 16px;
}

.filme{
    display: table;
}
.filme  .imagem{
    background-color: #e2e2e2;
    display: table-cell;
    height: 189px;
    width: 135px;
}
.filme  .imagem img{
    width: 100%;
}
.filme .info{    
    display: table-cell;
    padding-left: 20px;
    vertical-align: top;
}
.filme p{
    font-size: 16px;
}
.filme .valor-filme{
    color: #0160d6;
    margin-top: 5px;
}
.valor-total{
    border-top: 1px solid #c3c3c3;
    margin-top: 20px;
    padding-top: 20px;
}
.valor-total h5{
    display: block;
    font-size: 16px;
    width: 100%;
}
.valor-total h5 span{
    color: #c3c3c3;
    float: right;
}
.valor-total h4{
    display: block;
    margin-top: 30px;
    width: 100%;
}
.valor-total h4 span{
    color: #0160d6;
    float: right;
}
.box-enviar{
    text-align: right;
}
.btn-enviar{
    background-color: #0160d6;
    border: 1px solid #0160d6;
    color: #fff;
    cursor: pointer;
    padding: 15px 60px;
    font-size: 18px;
    -webkit-transition: background 2s; /* Safari prior 6.1 */
    transition: background 2s;
}
.btn-enviar:hover{
    background-color: #01469c;
    border-color: #01469c;
    -webkit-transition: background 2s; /* Safari prior 6.1 */
    transition: background 2s;
}
.alert{
    margin-top: 30px;
}