:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
header{
    text-align: center;
}
header img{
    width: 300px;
    margin: 80px 0;
}

footer hr{
    border-color: #c3c3c3;
    margin: 100px 15px;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style: none;
}
footer .endereco img{
    margin-bottom: 30px;
    width: 150px;
}
footer .endereco p{
    color: #666;
    font-size: 18px;
}
footer .menu-footer h3{
    color: #0160d6;
}
footer .menu-footer li{
    padding: 5px 0px;
}
footer .menu-footer a{
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
}
footer .menu-footer a:hover{
    text-decoration: underline;
}
footer .redes-sociais h4{
    color: #c3c3c3;
    font-size: 20px;
}
footer .redes-sociais li{ 
    display: inline-block;
    margin: 20px 10px 20px 0;
}
footer .redes-sociais a svg{ 
    cursor: pointer;
    fill: #0160d6;
    width: 45px;
    -webkit-transition: fill  2s; /* Safari prior 6.1 */
    transition: fill 2s;
}
footer .redes-sociais a:hover svg{ 
    fill: #01469c;
    -webkit-transition: fill  2s; /* Safari prior 6.1 */
    transition: fill 2s;
}
footer .copyright{
    border-top: 1px solid #c3c3c3;
    margin-top: 20px;
    padding-top: 20px;
}
footer .copyright p:first-child{
    display: inline-block;
}
footer .copyright p:last-child{
    float: right;
}
footer .copyright p{
    color: #999;
    margin-bottom: 20px;
}